:root{
  --main-color: linear-gradient(to bottom, #ff0000, #0000ff);
   
}

h1{
  margin:0;
}
.gradient1 {
  background: linear-gradient(to bottom, #ff0000, #0000ff);
}

.gradient2 {
  background: linear-gradient(to bottom, #00ff00, #ffff00);
}